.LoginPage-wpapper {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(-60deg, lightslategrey, lightseagreen);
}

.is-error {
    background: linear-gradient(-60deg, #d81b41, lightseagreen);
}